<!DOCTYPE html>
<html>
<head>
  <title> shuffle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" src="../../assets/stylesheets/style.css">
  <link rel="stylesheet" src="../../../js/animate.min.css">
  <link href='https://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="../../../js/howler.min.js"></script> -->
</head>
<body>

<%= yield %>

</body>
</html>
